@import "styles/variables";

.command {
  display: flex;
  align-items: center;
  color: $c-text;
  margin-bottom: $gutter;
}

.code {
  margin-left: $gutter;
  font-size: 26px;
  font-weight: bold;
}

.response {
  display: flex;
  padding-left: $gutter;
  padding-top: $half-gutter;
  font-size: 18px;

  code {
    color: inherit;
    font-size: inherit;
  }
}