@mixin font-face($font-family, $url) {
	@font-face {
		font-family: "#{$font-family}";
		src: url("#{$url}.eot");
		src: url("#{$url}.eot?#iefix") format("embedded-opentype"),
			url("#{$url}.woff") format("woff"), url("#{$url}.ttf") format("truetype"),
			url("#{$url}.svg") format("svg");
		font-weight: normal;
		font-style: normal;
	}
}
@mixin mq($width: "sm") {
	@if ($width == "sm") {
		@media (min-width: 576px) {
			@content;
		}
	} @else if ($width == "md") {
		@media (min-width: 768px) {
			@content;
		}
	} @else if ($width == "lg") {
		@media (min-width: 992px) {
			@content;
		}
	} @else if ($width == "xl") {
		@media (min-width: 1200px) {
			@content;
		}
	}
}
